## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import h5py

2023-02-10 11:26:16.253351: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_newdf = application_df.drop(columns=["EIN"])

In [4]:
application_newdf.shape

(34299, 11)

In [5]:
application_newdf.isnull().value_counts()

NAME   APPLICATION_TYPE  AFFILIATION  CLASSIFICATION  USE_CASE  ORGANIZATION  STATUS  INCOME_AMT  SPECIAL_CONSIDERATIONS  ASK_AMT  IS_SUCCESSFUL
False  False             False        False           False     False         False   False       False                   False    False            34299
dtype: int64

In [6]:
# Generate our categorical variable lists
application_cat= application_newdf.dtypes[application_newdf.dtypes == "object"].index.tolist()
application_cat

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [7]:
# Determine the number of unique values in each column.
application_newdf[application_cat].nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_newdf['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_newdf['APPLICATION_TYPE'] = application_newdf['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_newdf['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_newdf['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_newdf['CLASSIFICATION'].value_counts( ).loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
classifications_to_replace = list(classification_counts[classification_counts<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_newdf['CLASSIFICATION'] = application_newdf['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_newdf['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [13]:
# Look at NAMES value counts for binning
counts = application_newdf['NAME'].value_counts()
counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [14]:
# Choose a cutoff value and create a list of NAMES to be replaced
# use the variable name `names_to_replace`
names_to_replace = list(counts[counts<10].index)

# Replace in dataframe
for app in names_to_replace:
    application_newdf['NAME'] = application_newdf['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_newdf['NAME'].value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [15]:
# Determine the number of unique values in stremlined dataframe.
application_newdf[application_cat].nunique()

NAME                      223
APPLICATION_TYPE            9
AFFILIATION                 6
CLASSIFICATION              6
USE_CASE                    5
ORGANIZATION                4
INCOME_AMT                  9
SPECIAL_CONSIDERATIONS      2
dtype: int64

# Convert categorical data to numeric with `pd.get_dummies`

In [16]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_newdf[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(application_cat)

encode_df.head()

/Users/Farzana/Library/Python/3.9/lib/python/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ART THERAPY ASSOCIATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [17]:
# Merge one-hot encoded features and drop the originals
application_newdf = application_newdf.merge(encode_df, left_index=True, right_index=True)
application_newdf = application_newdf.drop(application_cat, axis=1)
application_newdf.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [18]:
# Split our preprocessed data into our features and target arrays
y = application_newdf["IS_SUCCESSFUL"].values
X = application_newdf.drop(["IS_SUCCESSFUL"], axis=1).values

In [19]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [20]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [21]:
X_train[0]

array([1.e+00, 5.e+03, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 1.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 1.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 1.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 1.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e+00, 1.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       1.e+00, 0.e+00])

## Compile, Train and Evaluate the Model

In [22]:

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 25
hidden_nodes_layer2 = 50

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 25)                6675

 dense_1 (Dense)             (None, 50)                1300

 dense_2 (Dense)             (None, 1)                 51

=================================================================
Total params: 8,026
Trainable params: 8,026
Non-trainable params: 0
_________________________________________________________________

2023-02-10 11:27:00.934151: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [23]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [24]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.4972 - accuracy: 0.7629
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4430 - accuracy: 0.7864
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4393 - accuracy: 0.7842
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4380 - accuracy: 0.7875
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4372 - accuracy: 0.7869
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4355 - accuracy: 0.7884
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4343 - accuracy: 0.7902
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4340 - accuracy: 0.7898
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4328 - accuracy: 0.7916
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4327 - accuracy: 0.7911
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4315 - accuracy: 0.7917
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4316 - accuracy: 0.7905
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4311 - accuracy: 0.7923
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4302 - accuracy: 0.7927
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4300 - accuracy: 0.7921
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4299 - accuracy: 0.7918
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4289 - accuracy: 0.7929
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4287 - accuracy: 0.7933
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4286 - accuracy: 0.7942
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4279 - accuracy: 0.7926
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4275 - accuracy: 0.7922
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4269 - accuracy: 0.7936
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4268 - accuracy: 0.7943
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4261 - accuracy: 0.7947
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4258 - accuracy: 0.7941
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4262 - accuracy: 0.7940
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4256 - accuracy: 0.7942
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4254 - accuracy: 0.7939
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4249 - accuracy: 0.7940
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4248 - accuracy: 0.7945
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4244 - accuracy: 0.7965
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4245 - accuracy: 0.7957
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4242 - accuracy: 0.7937
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4238 - accuracy: 0.7941
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4235 - accuracy: 0.7951
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4237 - accuracy: 0.7942
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4232 - accuracy: 0.7952
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4230 - accuracy: 0.7941
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4226 - accuracy: 0.7949
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4226 - accuracy: 0.7960
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4220 - accuracy: 0.7959
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4221 - accuracy: 0.7956
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4222 - accuracy: 0.7948
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4215 - accuracy: 0.7952
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4220 - accuracy: 0.7961
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4215 - accuracy: 0.7961
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4213 - accuracy: 0.7965
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4210 - accuracy: 0.7968
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4210 - accuracy: 0.7962
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4209 - accuracy: 0.7964
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4209 - accuracy: 0.7967
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4205 - accuracy: 0.7957
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4205 - accuracy: 0.7961
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4201 - accuracy: 0.7983
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4198 - accuracy: 0.7962
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4202 - accuracy: 0.7964
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4199 - accuracy: 0.7964
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4196 - accuracy: 0.7961
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4200 - accuracy: 0.7976
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4193 - accuracy: 0.7977
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4195 - accuracy: 0.7966
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4191 - accuracy: 0.7971
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4189 - accuracy: 0.7979
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4190 - accuracy: 0.7976
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4188 - accuracy: 0.7975
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4190 - accuracy: 0.7970
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4189 - accuracy: 0.7973
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4187 - accuracy: 0.7981
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4190 - accuracy: 0.7973
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4185 - accuracy: 0.7970
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4182 - accuracy: 0.7987
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4182 - accuracy: 0.7971
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4182 - accuracy: 0.7984
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4181 - accuracy: 0.7988
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4183 - accuracy: 0.7987
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4178 - accuracy: 0.7984
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4179 - accuracy: 0.7981
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4177 - accuracy: 0.7990
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4177 - accuracy: 0.7985
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4173 - accuracy: 0.7986
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4178 - accuracy: 0.7979
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4175 - accuracy: 0.7973
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4175 - accuracy: 0.7979
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4177 - accuracy: 0.7979
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4177 - accuracy: 0.7985
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4172 - accuracy: 0.7980
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4171 - accuracy: 0.7989
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4171 - accuracy: 0.7980
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4170 - accuracy: 0.7991
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4169 - accuracy: 0.7975
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4168 - accuracy: 0.7980
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4167 - accuracy: 0.7990
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4167 - accuracy: 0.7985
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4166 - accuracy: 0.7976
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4164 - accuracy: 0.7989
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4169 - accuracy: 0.7980
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4162 - accuracy: 0.7989
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4166 - accuracy: 0.7996
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4163 - accuracy: 0.7982
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4162 - accuracy: 0.7978

In [25]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4692 - accuracy: 0.7783 - 482ms/epoch - 2ms/step
Loss: 0.46922537684440613, Accuracy: 0.7783090472221375

In [26]:
# Export our model to HDF5 file
thefile = 'AlphabetSoupCharity_Optimzation.hdf5'
AlphabetSoupCharity_Optimzation = h5py.File(thefile, 'w')