## Preprocessing

In [5]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import h5py

In [6]:
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("./Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [7]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_newdf = application_df.drop(columns=["EIN", "NAME"])

In [8]:
application_newdf.shape

(34299, 10)

In [9]:
application_newdf.isnull().value_counts()

APPLICATION_TYPE  AFFILIATION  CLASSIFICATION  USE_CASE  ORGANIZATION  STATUS  INCOME_AMT  SPECIAL_CONSIDERATIONS  ASK_AMT  IS_SUCCESSFUL
False             False        False           False     False         False   False       False                   False    False            34299
dtype: int64

In [10]:
# Generate our categorical variable lists
application_cat= application_newdf.dtypes[application_newdf.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [11]:
# Determine the number of unique values in each column.
application_newdf[application_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [12]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_newdf['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [13]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_newdf['APPLICATION_TYPE'] = application_newdf['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_newdf['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [14]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_newdf['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [15]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_newdf['CLASSIFICATION'].value_counts( ).loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [16]:
# Choose a cutoff value and create a list of classifications to be replaced
classifications_to_replace = list(classification_counts[classification_counts<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_newdf['CLASSIFICATION'] = application_newdf['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_newdf['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [17]:
# Determine the number of unique values in stremlined dataframe.
application_newdf[application_cat].nunique()

APPLICATION_TYPE          9
AFFILIATION               6
CLASSIFICATION            6
USE_CASE                  5
ORGANIZATION              4
INCOME_AMT                9
SPECIAL_CONSIDERATIONS    2
dtype: int64

# Convert categorical data to numeric with `pd.get_dummies`

In [18]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_newdf[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(application_cat)

encode_df.head()

/Users/Farzana/Library/Python/3.9/lib/python/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [19]:
# Merge one-hot encoded features and drop the originals
application_newdf = application_newdf.merge(encode_df, left_index=True, right_index=True)
application_newdf = application_newdf.drop(application_cat, axis=1)
application_newdf.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [20]:
# Split our preprocessed data into our features and target arrays
y = application_newdf["IS_SUCCESSFUL"].values
X = application_newdf.drop(["IS_SUCCESSFUL"], axis=1).values

In [21]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [22]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [23]:
X_train[0]

array([1.e+00, 5.e+03, 0.e+00, 0.e+00, 0.e+00, 1.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 1.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 1.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 1.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e+00,
       1.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 1.e+00, 0.e+00])

## Compile, Train and Evaluate the Model

In [24]:
pip install keras-tuner --upgrade

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: keras-tuner in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (1.2.0)
Requirement already satisfied: kt-legacy in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from keras-tuner) (1.0.4)
Requirement already satisfied: ipython in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from keras-tuner) (8.7.0)
Requirement already satisfied: requests in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from keras-tuner) (2.28.1)
Requirement already satisfied: packaging in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from keras-tuner) (21.3)
Requirement already satisfied: tensorflow>=2.0 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from keras-tuner) (2.11.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from tensorflow>=2.0->keras-tuner) (1.51.1)
Requirement already satisfied: six>=1.12.0 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from tensorflow>=2.0->keras-tuner) (1.15.0)
Requirement already satisfied: setuptools in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from tensorflow>=2.0->keras-tuner) (58.0.4)
Requirement already satisfied: flatbuffers>=2.0 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from tensorflow>=2.0->keras-tuner) (23.1.21)
Requirement already satisfied: termcolor>=1.1.0 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from tensorflow>=2.0->keras-tuner) (2.2.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from tensorflow>=2.0->keras-tuner) (0.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from tensorflow>=2.0->keras-tuner) (0.2.0)
Requirement already satisfied: tensorboard<2.12,>=2.11 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from tensorflow>=2.0->keras-tuner) (2.11.2)
Requirement already satisfied: keras<2.12,>=2.11.0 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from tensorflow>=2.0->keras-tuner) (2.11.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from tensorflow>=2.0->keras-tuner) (0.30.0)
Requirement already satisfied: tensorflow-estimator<2.12,>=2.11.0 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from tensorflow>=2.0->keras-tuner) (2.11.0)
Requirement already satisfied: h5py>=2.9.0 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from tensorflow>=2.0->keras-tuner) (3.8.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from tensorflow>=2.0->keras-tuner) (4.4.0)
Requirement already satisfied: libclang>=13.0.0 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from tensorflow>=2.0->keras-tuner) (15.0.6.1)
Requirement already satisfied: numpy>=1.20 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from tensorflow>=2.0->keras-tuner) (1.23.5)
Requirement already satisfied: absl-py>=1.0.0 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from tensorflow>=2.0->keras-tuner) (1.4.0)
Requirement already satisfied: wrapt>=1.11.0 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from tensorflow>=2.0->keras-tuner) (1.14.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from tensorflow>=2.0->keras-tuner) (3.3.0)
Requirement already satisfied: astunparse>=1.6.0 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from tensorflow>=2.0->keras-tuner) (1.6.3)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from tensorflow>=2.0->keras-tuner) (3.19.6)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from astunparse>=1.6.0->tensorflow>=2.0->keras-tuner) (0.37.0)
Requirement already satisfied: werkzeug>=1.0.1 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (2.2.2)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (1.8.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (0.4.6)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (0.6.1)
Requirement already satisfied: markdown>=2.6.8 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (3.4.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (2.16.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (5.3.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (6.0.0)
Requirement already satisfied: zipp>=0.5 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (3.12.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (0.4.8)
Requirement already satisfied: certifi>=2017.4.17 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from requests->keras-tuner) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from requests->keras-tuner) (1.26.13)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from requests->keras-tuner) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from requests->keras-tuner) (3.4)
Requirement already satisfied: oauthlib>=3.0.0 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (3.2.2)
Requirement already satisfied: MarkupSafe>=2.1.1 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from werkzeug>=1.0.1->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (2.1.2)
Requirement already satisfied: stack-data in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from ipython->keras-tuner) (0.6.2)
Requirement already satisfied: pickleshare in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from ipython->keras-tuner) (0.7.5)
Requirement already satisfied: backcall in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from ipython->keras-tuner) (0.2.0)
Requirement already satisfied: decorator in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from ipython->keras-tuner) (5.1.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.11 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from ipython->keras-tuner) (3.0.33)
Requirement already satisfied: pygments>=2.4.0 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from ipython->keras-tuner) (2.13.0)
Requirement already satisfied: matplotlib-inline in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from ipython->keras-tuner) (0.1.6)
Requirement already satisfied: jedi>=0.16 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from ipython->keras-tuner) (0.18.2)
Requirement already satisfied: appnope in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from ipython->keras-tuner) (0.1.3)
Requirement already satisfied: traitlets>=5 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from ipython->keras-tuner) (5.6.0)
Requirement already satisfied: pexpect>4.3 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from ipython->keras-tuner) (4.8.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from jedi>=0.16->ipython->keras-tuner) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from pexpect>4.3->ipython->keras-tuner) (0.7.0)
Requirement already satisfied: wcwidth in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from prompt-toolkit<3.1.0,>=3.0.11->ipython->keras-tuner) (0.2.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from packaging->keras-tuner) (3.0.9)
Requirement already satisfied: pure-eval in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython->keras-tuner) (0.2.2)
Requirement already satisfied: executing>=1.2.0 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython->keras-tuner) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /Users/Farzana/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython->keras-tuner) (2.2.0)
WARNING: You are using pip version 21.2.4; however, version 23.0 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [25]:
import keras_tuner as kt

In [26]:
input_features = X_train_scaled.shape[1]

## Automated Neural Network Optimization

In [27]:
def create_model(hp):
  # define the sequential model
  nn_model = tf.keras.models.Sequential()

  # specify the activation functions to tune from
  activation = hp.Choice("activation", ["relu", "tanh", "sigmoid"])

  # add first layer
  nn_model.add(tf.keras.layers.Dense(units=hp.Int("first_units", 
                                                  min_value=1, 
                                                  max_value=90, 
                                                  step=5), activation=activation, input_dim=input_features))    
  # add multiple layers
  for i in range(hp.Int("num_layers", 1, 5)):
    nn_model.add(tf.keras.layers.Dense(units=hp.Int("units_" + str(i), 
                              min_value=1,
                              max_value=30, 
                              step=5),
                              activation=activation))
  
  # specify the output layer
  nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

  nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
  
  return nn_model

In [28]:
tuner = kt.Hyperband(create_model, objective="val_accuracy", max_epochs=50, hyperband_iterations=2)

INFO:tensorflow:Reloading Tuner from ./untitled_project/tuner0.json

In [30]:
# run the tuner
fit_model = tuner.search(X_train_scaled, y_train, epochs=50, validation_data=(X_test_scaled, y_test))

Trial 54 Complete [00h 01m 03s]
val_accuracy: 0.7304956316947937

Best val_accuracy So Far: 0.731195330619812
Total elapsed time: 00h 29m 08s
INFO:tensorflow:Oracle triggered exit

In [31]:
# get the best hyperparamters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'tanh',
 'first_units': 7,
 'num_layers': 4,
 'units_0': 9,
 'units_1': 7,
 'units_2': 3,
 'units_3': 3,
 'units_4': 5,
 'units_5': 3,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/bracket': 1,
 'tuner/round': 1,
 'tuner/trial_id': '0017'}

In [32]:
# Top 3 models
top_model = tuner.get_best_models(3)
for model in top_model:
  model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
  print(f'Loss: {model_loss}, Accuracy: {model_accuracy}')

268/268 - 1s - loss: 0.5593 - accuracy: 0.7312 - 738ms/epoch - 3ms/step
Loss: 0.5592532157897949, Accuracy: 0.731195330619812
268/268 - 1s - loss: 0.5597 - accuracy: 0.7311 - 853ms/epoch - 3ms/step
Loss: 0.5596914887428284, Accuracy: 0.7310787439346313
268/268 - 1s - loss: 0.5650 - accuracy: 0.7311 - 1s/epoch - 5ms/step
Loss: 0.5650367736816406, Accuracy: 0.7310787439346313

In [33]:
# get the best model
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5593 - accuracy: 0.7312 - 1s/epoch - 4ms/step
Loss: 0.5592532157897949, Accuracy: 0.731195330619812

In [34]:
# Export our model to HDF5 file
thefile1 = 'Automated_Model.hdf5'
Automated_Model = h5py.File(thefile1, 'w')