## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import h5py

2023-02-09 09:57:47.521753: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("./Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_newdf = application_df.drop(columns=["EIN", "NAME", "INCOME_AMT", "ASK_AMT", "SPECIAL_CONSIDERATIONS", "STATUS", "ORGANIZATION", "USE_CASE"])

In [4]:
application_newdf.shape

(34299, 4)

In [5]:
application_newdf.isnull().value_counts()

APPLICATION_TYPE  AFFILIATION  CLASSIFICATION  IS_SUCCESSFUL
False             False        False           False            34299
dtype: int64

In [6]:
# Generate our categorical variable lists
application_cat= application_newdf.dtypes[application_newdf.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION']

In [7]:
# Determine the number of unique values in each column.
application_newdf[application_cat].nunique()

APPLICATION_TYPE    17
AFFILIATION          6
CLASSIFICATION      71
dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_newdf['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_newdf['APPLICATION_TYPE'] = application_newdf['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_newdf['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_newdf['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_newdf['CLASSIFICATION'].value_counts( ).loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
classifications_to_replace = list(classification_counts[classification_counts<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_newdf['CLASSIFICATION'] = application_newdf['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_newdf['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [13]:
# Determine the number of unique values in stremlined dataframe.
application_newdf[application_cat].nunique()

APPLICATION_TYPE    9
AFFILIATION         6
CLASSIFICATION      6
dtype: int64

# Convert categorical data to numeric with `pd.get_dummies`

In [14]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_newdf[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(application_cat)

encode_df.head()

/Users/Farzana/Library/Python/3.9/lib/python/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,CLASSIFICATION_C1000,CLASSIFICATION_C1200,CLASSIFICATION_C2000,CLASSIFICATION_C2100,CLASSIFICATION_C3000,CLASSIFICATION_Other
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [15]:
# Merge one-hot encoded features and drop the originals
application_newdf = application_newdf.merge(encode_df, left_index=True, right_index=True)
application_newdf = application_newdf.drop(application_cat, axis=1)
application_newdf.head()

,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,CLASSIFICATION_C1000,CLASSIFICATION_C1200,CLASSIFICATION_C2000,CLASSIFICATION_C2100,CLASSIFICATION_C3000,CLASSIFICATION_Other
0,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [16]:
# Split our preprocessed data into our features and target arrays
y = application_newdf["IS_SUCCESSFUL"].values
X = application_newdf.drop(["IS_SUCCESSFUL"], axis=1).values

In [17]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [18]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [19]:
X_train[0]

array([0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 0.])

## Compile, Train and Evaluate the Model

In [20]:

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 30
hidden_nodes_layer2 = 15
hidden_nodes_layer3 = 15
hidden_nodes_layer4 = 15

nn = tf.keras.models.Sequential([
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"),
    tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"),
    tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"),
    tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"),
    tf.keras.layers.Dense(units=1, activation="sigmoid")
])

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 30)                660

 dense_1 (Dense)             (None, 15)                465

 dense_2 (Dense)             (None, 15)                240

 dense_3 (Dense)             (None, 15)                240

 dense_4 (Dense)             (None, 1)                 16

=================================================================
Total params: 1,621
Trainable params: 1,621
Non-trainable params: 0
_________________________________________________________________

2023-02-09 09:58:02.718923: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [21]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [22]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 7s 4ms/step - loss: 0.5895 - accuracy: 0.7086
Epoch 2/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5731 - accuracy: 0.7201
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5723 - accuracy: 0.7200
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5717 - accuracy: 0.7205
Epoch 5/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5714 - accuracy: 0.7199
Epoch 6/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5712 - accuracy: 0.7197
Epoch 7/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5712 - accuracy: 0.7206
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5707 - accuracy: 0.7206
Epoch 9/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5708 - accuracy: 0.7208
Epoch 10/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5709 - accuracy: 0.7208
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5708 - accuracy: 0.7210
Epoch 12/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5709 - accuracy: 0.7204
Epoch 13/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5709 - accuracy: 0.7210
Epoch 14/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5710 - accuracy: 0.7210
Epoch 15/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5708 - accuracy: 0.7208
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5705 - accuracy: 0.7211
Epoch 17/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5709 - accuracy: 0.7206
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5706 - accuracy: 0.7209
Epoch 19/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5707 - accuracy: 0.7211
Epoch 20/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5706 - accuracy: 0.7212
Epoch 21/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5704 - accuracy: 0.7204
Epoch 22/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5707 - accuracy: 0.7214
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5704 - accuracy: 0.7212
Epoch 24/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5704 - accuracy: 0.7208
Epoch 25/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5704 - accuracy: 0.7210
Epoch 26/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5705 - accuracy: 0.7209
Epoch 27/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5704 - accuracy: 0.7212
Epoch 28/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5703 - accuracy: 0.7211
Epoch 29/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5702 - accuracy: 0.7209
Epoch 30/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5706 - accuracy: 0.7210
Epoch 31/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5703 - accuracy: 0.7207
Epoch 32/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5701 - accuracy: 0.7213
Epoch 33/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5702 - accuracy: 0.7213
Epoch 34/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5704 - accuracy: 0.7208
Epoch 35/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5704 - accuracy: 0.7210
Epoch 36/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5701 - accuracy: 0.7213
Epoch 37/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5701 - accuracy: 0.7213
Epoch 38/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5703 - accuracy: 0.7209
Epoch 39/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5703 - accuracy: 0.7210
Epoch 40/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5702 - accuracy: 0.7209
Epoch 41/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5702 - accuracy: 0.7209
Epoch 42/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5701 - accuracy: 0.7206
Epoch 43/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5703 - accuracy: 0.7205
Epoch 44/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5701 - accuracy: 0.7209
Epoch 45/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5703 - accuracy: 0.7212
Epoch 46/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5695 - accuracy: 0.7209
Epoch 47/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5699 - accuracy: 0.7206
Epoch 48/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5700 - accuracy: 0.7211
Epoch 49/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5703 - accuracy: 0.7212
Epoch 50/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5701 - accuracy: 0.7207
Epoch 51/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5702 - accuracy: 0.7204
Epoch 52/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5698 - accuracy: 0.7208
Epoch 53/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5697 - accuracy: 0.7211
Epoch 54/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5700 - accuracy: 0.7209
Epoch 55/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5699 - accuracy: 0.7208
Epoch 56/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5699 - accuracy: 0.7206
Epoch 57/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5699 - accuracy: 0.7213
Epoch 58/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5699 - accuracy: 0.7211
Epoch 59/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5700 - accuracy: 0.7212
Epoch 60/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5700 - accuracy: 0.7207
Epoch 61/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5698 - accuracy: 0.7213
Epoch 62/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5699 - accuracy: 0.7217
Epoch 63/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5697 - accuracy: 0.7209
Epoch 64/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5700 - accuracy: 0.7213
Epoch 65/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5702 - accuracy: 0.7210
Epoch 66/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5699 - accuracy: 0.7212
Epoch 67/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5699 - accuracy: 0.7213
Epoch 68/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5699 - accuracy: 0.7212
Epoch 69/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5698 - accuracy: 0.7213
Epoch 70/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5696 - accuracy: 0.7211
Epoch 71/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5700 - accuracy: 0.7214
Epoch 72/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5698 - accuracy: 0.7210
Epoch 73/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5698 - accuracy: 0.7211
Epoch 74/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5697 - accuracy: 0.7212
Epoch 75/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5697 - accuracy: 0.7214
Epoch 76/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5699 - accuracy: 0.7212
Epoch 77/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5699 - accuracy: 0.7213
Epoch 78/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5700 - accuracy: 0.7214
Epoch 79/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5698 - accuracy: 0.7215
Epoch 80/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5698 - accuracy: 0.7210
Epoch 81/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5699 - accuracy: 0.7212
Epoch 82/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5699 - accuracy: 0.7213
Epoch 83/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5700 - accuracy: 0.7213
Epoch 84/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5697 - accuracy: 0.7210
Epoch 85/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5698 - accuracy: 0.7214
Epoch 86/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5698 - accuracy: 0.7212
Epoch 87/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5697 - accuracy: 0.7213
Epoch 88/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5696 - accuracy: 0.7217
Epoch 89/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5695 - accuracy: 0.7213
Epoch 90/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5696 - accuracy: 0.7211
Epoch 91/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5696 - accuracy: 0.7212
Epoch 92/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5698 - accuracy: 0.7214
Epoch 93/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5696 - accuracy: 0.7213
Epoch 94/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5697 - accuracy: 0.7213
Epoch 95/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5697 - accuracy: 0.7213
Epoch 96/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5696 - accuracy: 0.7211
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5698 - accuracy: 0.7215
Epoch 98/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5696 - accuracy: 0.7213
Epoch 99/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5696 - accuracy: 0.7215
Epoch 100/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5696 - accuracy: 0.7215

In [23]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5738 - accuracy: 0.7223 - 807ms/epoch - 3ms/step
Loss: 0.5737504363059998, Accuracy: 0.7223323583602905

In [25]:
# Export our model to HDF5 file
thefile = 'Features_reduced_more_layers_model.hdf5'
Features_reduced_more_layers_model = h5py.File(thefile, 'w')